			<div class="ad" id="banner_rok_ad">
<%# 				<div class="rubics_netxp1_main" id="rbx_netxp1_parent">
					<script type="text/javascript">
//<![CDATA[
function do_rbx_ctrk_netxp1 (aElem, iTrkId, cTrkPrefix) {
	var imgElem = document.getElementById(iTrkId);
	if (!imgElem) {
		return true;
	}

	if (!aElem.rbxCPrefixed) {
		aElem.rbxCPrefixed = true;
		var destUri = encodeURIComponent(aElem.href);
		var newUri = cTrkPrefix + destUri;
		aElem.href = newUri;
	}
	return true;
}
function do_rbx_itrk_netxp1 (parentId, iTrkId, iTrkUri) {
	if (!document.images) {
		return false;
	}

	var imgId = iTrkId;
	var imgElem = document.getElementById(imgId);

	if (!imgElem) {

		var parentElem = document.getElementById(parentId);
		if (!parentElem) {
			return false;
		}

		var imgElem = document.createElement('img');
		if (!imgElem) {
			return false;
		}

		imgElem.id = imgId;
		imgElem.src = iTrkUri;
		imgElem.alt = '';
		imgElem.width = '1';
		imgElem.height = '1';

		parentElem.appendChild(imgElem);
	}
	return true;
}
//]]>
</script> On GameSpot: <a target="_top" onclick="return do_rbx_ctrk_netxp1(this, 'rbx_netxp1_1', 'http://dw.com.com/rubicsclk?ver=2&amp;ts=2008.07.07.18.37.36&amp;edId=&amp;onId=&amp;ptId=&amp;sId=103&amp;appId=19&amp;offId=2330&amp;unitId=45&amp;poolId=1&amp;f1=26&amp;f2=%2d0&amp;f3=%2d0&amp;alg=8&amp;&amp;opt=0&amp;linkPos=1&amp;destUrl=');" href="http://www.gamespot.com/news/show_blog_entry.php?topic_id=26450174&amp;sid=6192858" class="xpromolink">Guitar Hero: Aerosmith set list revealed</a> <script type="text/javascript">
//<![CDATA[
do_rbx_itrk_netxp1('rbx_netxp1_parent', 'rbx_netxp1_1', 'http://dw.com.com/rubicsimp/c.gif?ver=2&ts=2008.07.07.18.37.36&edId=&onId=&ptId=&sId=103&appId=19&unitId=45&poolId=1&f1=26&f2=%2d0&f3=%2d0&alg=8&opt=0&off=2330,-1');
//]]>
</script><img alt="" src="/images/c.gif" id="rbx_netxp1_1" height="1" width="1" name="rbx_netxp1_1" />
				</div><!-- ros [r20070521-1832-ronr-v1-13-5:1.13.5] c17-ad-rubics-ros3.cnet.com::4065299376 2008.07.07.18.37.36 --><!-- ros t 0.0.0.0.1.1.1.1 -->
## To be added later %>			</div>

			<div class="madison_ad ad pos300 sp64 empty">
				<!-- MAC ad --><!-- NO AD TEXT: _QUERY_STRING="GLOBAL&ADREQ&UA=Mozilla/5.0%20(Macintosh;%20U;%20PPC%20Mac%20OS%20X%2010.4;%20en-US;%20rv:1.9)%20Gecko/2008061004%20Firefox/3.0&REMOTE_ADDR=204.2.133.30&BRAND=26&SITE=103&NCAT=12711:&PTYPE=LP&SP=64&POS=300&BYPASSKEY=" _REQ_NUM="0"  --><!-- default ad --><img src="/images/dotclear.gif" alt="" style="position: absolute; top: 0px; left: 0px;" height="0" width="0" /><!-- MAC [r20080616-1708-msm-1-13-10-LogArgmap:1.13.10] c17-ad-xw4.cnet.com::4065119152 2008.07.08.01.37.36 --><!-- MAC T 0.0.2.3 -->
			</div>

			<div class="p10">
				<div class="corner-top-left"></div>

				<div class="corner-top-right"></div>

				<h5 class="logo" id="logo_chow"><a href="/">CHOW: Food. Drink. Fun.</a><img alt="" src="/images/logo-chow-oatmeal.gif" /></h5>

				<p id="page_menu"><a href="#content">Skip To Content »</a></p>

				<div id="user_menu">

					<% if current_user %>
					Hello <%= current_user.username %> | 
					<%= link_to "Edit Profile", edit_user_path(:current) %> | 
					<%= link_to "Sign Out", logout_path %>
					<% else %>
						<%= link_to "Sign Up", new_user_path %> | 
						<%= link_to "Sign In", login_path %>
						
					<% end %>

 | <%# This feature to be added in the future: <a href="/newsletters">Newsletters</a> %></p>

					<p id="site_message"><%# <a href="/newsletters">Sign up for Palooza newsletters!</a> ## This to be added %></p>
				</div>

				<div id="searchbar"><%# 
					<form action="/search" id="search" method="get" name="search">
						<input class="entry" id="searchbar_entry" name="search[query]" size="28" type="text" /><input alt="Search" class="button" name="Search" src="/images/button-search2.gif" style="padding: 0pt;" type="image" />
					</form>## To be added %>
				</div>

				<div class="clear"></div>
			</div>

			<div id="nav_tier1">
				<p id="theme_menu"><strong>theme</strong> <a href="/user/theme/oatmeal?return_to=%2Frecipes" rel="nofollow" title="header=[] body=[&lt;img src='/images/nav-theme-oatmeal-preview.gif' alt='' /&gt;] cssbody=[user_tooltip] offsetx=[-110]"><img alt="oatmeal" src="/images/nav-theme-oatmeal.gif" /></a> <a href="/user/theme/red?return_to=%2Frecipes" rel="nofollow" title="header=[] body=[&lt;img src='/images/nav-theme-red-preview.gif' alt='' /&gt;] cssbody=[user_tooltip] offsetx=[-110]"><img alt="red" src="/images/nav-theme-red.gif" /></a></p>

				<ul id="main_menu">
					<li id="main_menu_home"><a href="/" title="Home"><img alt="Home" id="main_menu_home_img" src="/images/nav1-home-red.gif" name="main_menu_home_img" /></a></li>

					<li class="current" id="main_menu_recipes"><a href="/recipes" class="menu_link_text" title="Visit Recipes">Recipes</a> <a class="toggle_button" id="toggle_recipes" title="Browse Recipes" name="toggle_recipes"><img alt="" src="/images/clear.gif" height="17" width="17" /></a></li>

					<li id="main_menu_boards"><a href="http://www.chowhound.com/" class="menu_link_text" title="Browse Chowhound Boards">Boards</a> <a class="toggle_button" id="toggle_boards" title="Browse Chowhound Boards" name="toggle_boards"><img alt="" src="/images/clear.gif" height="17" width="17" /></a></li>

					<li id="main_menu_places"><a href="/places/regions" class="menu_link_text" title="Visit Places">Places</a> <a class="toggle_button" id="toggle_places" title="Browse Places" name="toggle_places"><img alt="" src="/images/clear.gif" height="17" width="17" /></a></li>

					<li id="main_menu_stories"><a href="/stories" class="menu_link_text" title="Visit Stories">Stories</a> <a class="toggle_button" id="toggle_stories" title="Browse Stories" name="toggle_stories"><img alt="" src="/images/clear.gif" height="17" width="17" /></a></li>

					<li id="main_menu_blogs"><a href="/blogs" class="menu_link_text" title="Visit the Blogs">Blogs</a> <a class="toggle_button" id="toggle_blogs" title="Browse Blog Posts" name="toggle_blogs"><img alt="" src="/images/clear.gif" height="17" width="17" /></a></li>

					<li id="main_menu_videos"><a href="/videos" class="menu_link_text" title="View Videos">Videos</a></li>
					<li id="main_menu_profile">
						<% if current_user %>
	     				<%= link_to "Palooza", user_path(current_user) %> 						    <a class="toggle_button" id="toggle_profile" title="Visit your Palooza profile"><img alt="" height="17" src="/images/clear.gif" width="17" /></a>
						<% else %>
						<a href="/login" class="menu_link_text" id="profile_link" title="Visit MyChow" name="profile_link">my Palooza</a> 
						<a class="toggle_button" id="toggle_profile" style="display: none;" title="Visit your My Palooza profile" name="toggle_profile">
							<img alt="" src="/images/clear.gif" height="17" width="17" /></a>

						<% end %>
						
					</li>
				</ul>

				<div class="clear"></div>

				<div id="menu_boards" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_boards" onclick="MainNav.toggle('boards').onclick(); return false;" name="close_boards"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<p><a href="http://www.chowhound.com/new_posts/show">My Unread Posts <small>(aka "Hot Posts")</small></a> &nbsp;&nbsp;&nbsp; <a href="http://www.chowhound.com/">Latest Posts</a></p>

					<div class="clear"></div>

					<div class="nav_tier3">
						<table class="boards_grouped_index">
							<tbody>
								<tr>
									<td>
										<dl>
											<dt>Pacific Northwest</dt>

											<dd><a href="http://www.chowhound.com/boards/4">Pacific Northwest</a></dd>
										</dl>

										<dl>
											<dt>California</dt>

											<dd><a href="http://www.chowhound.com/boards/1">San Francisco Bay Area</a></dd>

											<dd><a href="http://www.chowhound.com/boards/2">Los Angeles Area</a></dd>

											<dd><a href="http://www.chowhound.com/boards/3">California</a></dd>
										</dl>

										<dl>
											<dt>Southwest</dt>

											<dd><a href="http://www.chowhound.com/boards/5">Texas</a></dd>

											<dd><a href="http://www.chowhound.com/boards/6">Southwest</a></dd>

											<dd><a href="http://www.chowhound.com/boards/61">Austin</a></dd>
										</dl>

										<dl>
											<dt>Midwest</dt>

											<dd><a href="http://www.chowhound.com/boards/7">Chicago Area</a></dd>

											<dd><a href="http://www.chowhound.com/boards/8">Midwest</a></dd>
										</dl>

										<dl>
											<dt>South</dt>

											<dd><a href="http://www.chowhound.com/boards/9">New Orleans</a></dd>

											<dd><a href="http://www.chowhound.com/boards/10">Florida</a></dd>

											<dd><a href="http://www.chowhound.com/boards/11">South</a></dd>
										</dl>
									</td>

									<td>
										<dl>
											<dt>Mid-Atlantic</dt>

											<dd><a href="http://www.chowhound.com/boards/14">Washington DC &amp; Baltimore Area</a></dd>

											<dd><a href="http://www.chowhound.com/boards/15">Pennsylvania</a></dd>

											<dd><a href="http://www.chowhound.com/boards/16">Mid-Atlantic</a></dd>
										</dl>

										<dl>
											<dt>NYC Metro (and north)</dt>

											<dd><a href="http://www.chowhound.com/boards/17">What's My Craving?</a></dd>

											<dd><a href="http://www.chowhound.com/boards/18">Manhattan</a></dd>

											<dd><a href="http://www.chowhound.com/boards/19">Outer Boroughs</a></dd>

											<dd><a href="http://www.chowhound.com/boards/20">Tristate Region</a></dd>

											<dd><a href="http://www.chowhound.com/boards/21">The Best</a></dd>
										</dl>

										<dl>
											<dt>New England</dt>

											<dd><a href="http://www.chowhound.com/boards/12">Boston Area</a></dd>

											<dd><a href="http://www.chowhound.com/boards/13">New England</a></dd>
										</dl>
									</td>

									<td>
										<dl>
											<dt>Topical</dt>

											<dd><a href="http://www.chowhound.com/boards/27">General Chowhounding Topics</a></dd>

											<dd><a href="http://www.chowhound.com/boards/29">Not About Food</a></dd>

											<dd><a href="http://www.chowhound.com/boards/31">Home Cooking</a></dd>

											<dd><a href="http://www.chowhound.com/boards/33">Food Media and News</a></dd>

											<dd><a href="http://www.chowhound.com/boards/34">Wine</a></dd>

											<dd><a href="http://www.chowhound.com/boards/35">Beer</a></dd>

											<dd><a href="http://www.chowhound.com/boards/36">Spirits</a></dd>

											<dd><a href="http://www.chowhound.com/boards/41">Cookware</a></dd>

											<dd><a href="http://www.chowhound.com/boards/60">CHOW Tour</a></dd>
										</dl>

										<dl>
											<dt>Site Specific</dt>

											<dd><a href="http://www.chowhound.com/boards/30">Site Talk</a></dd>

											<dd><a href="http://www.chowhound.com/boards/40">Technical Help</a></dd>

											<dd><a href="http://www.chowhound.com/boards/59">Palooza Feedback</a></dd>
										</dl>

										<dl>
											<dt>National</dt>

											<dd><a href="http://www.chowhound.com/boards/25">Elsewhere In America</a></dd>

											<dd><a href="http://www.chowhound.com/boards/28">Kosher</a></dd>

											<dd><a href="http://www.chowhound.com/boards/32">Chains</a></dd>
										</dl>
									</td>

									<td>
										<dl>
											<dt>International</dt>

											<dd><a href="http://www.chowhound.com/boards/22">Quebec (including Montreal)</a></dd>

											<dd><a href="http://www.chowhound.com/boards/23">Ontario (including Toronto)</a></dd>

											<dd><a href="http://www.chowhound.com/boards/24">Canada</a></dd>

											<dd><a href="http://www.chowhound.com/boards/26">International</a></dd>

											<dd><a href="http://www.chowhound.com/boards/37">Australia/New Zealand</a></dd>

											<dd><a href="http://www.chowhound.com/boards/42">U.K./Ireland</a></dd>

											<dd><a href="http://www.chowhound.com/boards/44">South Asia</a></dd>

											<dd><a href="http://www.chowhound.com/boards/45">Japan</a></dd>

											<dd><a href="http://www.chowhound.com/boards/46">China</a></dd>

											<dd><a href="http://www.chowhound.com/boards/47">Russia</a></dd>

											<dd><a href="http://www.chowhound.com/boards/48">Greater Asia</a></dd>

											<dd><a href="http://www.chowhound.com/boards/49">France</a></dd>

											<dd><a href="http://www.chowhound.com/boards/50">Spain/Portugal</a></dd>

											<dd><a href="http://www.chowhound.com/boards/51">Africa</a></dd>

											<dd><a href="http://www.chowhound.com/boards/52">Turkey/Greece</a></dd>

											<dd><a href="http://www.chowhound.com/boards/53">Middle East and Africa</a></dd>

											<dd><a href="http://www.chowhound.com/boards/54">Caribbean</a></dd>

											<dd><a href="http://www.chowhound.com/boards/55">Mexico</a></dd>

											<dd><a href="http://www.chowhound.com/boards/56">South America</a></dd>

											<dd><a href="http://www.chowhound.com/boards/57">Western Canada</a></dd>

											<dd><a href="http://www.chowhound.com/boards/58">Italy</a></dd>
										</dl>
									</td>
								</tr>
							</tbody>
						</table>

						<div class="about_boards">
							<p class="heading">About the boards</p>

							<ul>
								<li><a href="http://www.chowhound.com/topics/367605">Posting Etiquette</a></li>

								<li><a href="http://www.chowhound.com/manifesto">Chowhound Manifesto</a></li>

								<li><a href="/faq">FAQ</a></li>
							</ul>
						</div>
					</div>
				</div>

				<div id="menu_blogs" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_blogs" onclick="MainNav.toggle('blogs').onclick(); return false;" name="close_blogs"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<p class="heading">Browse by name</p>

					<ul class="fl">
						<li><a href="/grinder" title="Our Food Media Blog">The Grinder</a></li>

						<li><a href="/pick" title="Paloozas We Like">Palooza Pick</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/digest" title="Chowhound's Daily Roundup">The Digest</a></li>

						<li><a href="/tastingnotes" title="Our Wine Blog">Tasting Notes</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/mongol_rally" title="From London to Mongolia, fish and chips to fermented horse milk, all in a month. Writer Joshua M. Bernstein and his crew are eating their way across 8,000 miles in the Mongol Rally...">Palooza Tour: Mongol Rally</a></li>

						<li><a href="/tour" title="Follow along with Chowhound cofounder Jim Leff as he crisscrosses North America on a monumental road trip in search of hyperdeliciousness. You never know where he might turn up...">Palooza Tour: North America</a></li>
					</ul>

					<div class="clear"></div>
				</div>

				<div id="menu_stories" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_stories" onclick="MainNav.toggle('stories').onclick(); return false;" name="close_stories"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<p class="heading">Browse by Category</p>

					<ul class="fl">
						<li><a href="/stories/14/category">Palooza  Tip</a></li>

						<li><a href="/stories/66/category">Drink</a></li>

						<li><a href="/stories/7/category">Entertaining</a></li>

						<li><a href="/stories/6/category">Feature</a></li>

						<li><a href="/stories/65/category">Gear</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/stories/62/category">Nagging Question</a></li>

						<li><a href="/stories/86/category">Obsessives</a></li>

						<li><a href="/stories/81/category">Products</a></li>

						<li><a href="/stories/64/category">Project</a></li>

						<li><a href="/stories/77/category">Q&amp;A</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/stories/91/category">Recipe-Free Cooking</a></li>

						<li><a href="/stories/76/category">Shelf Life</a></li>

						<li><a href="/stories/88/category">Supertaster</a></li>

						<li><a href="/stories/71/category">Table Manners</a></li>

						<li><a href="/stories/74/category">The Juice</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/stories/90/category">The Perfect</a></li>

						<li><a href="/stories/70/category">The Ten</a></li>

						<li><a href="/stories/92/category">Top Chef</a></li>

						<li><a href="/stories/87/category">Travel</a></li>

						<li><a href="/stories/89/category">Wanted</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/stories/93/category">You're Doing It All Wrong</a></li>
					</ul>

					<div class="clear"></div>
				</div>

				<div id="menu_recipes" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_recipes" onclick="MainNav.toggle('recipes').onclick(); return false;" name="close_recipes"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<p class="heading">Browse by Course</p>

					<ul class="fl">
						<li><a href="/recipes/45/category">Breakfast/Brunch</a></li>

						<li><a href="/recipes/67/category">Condiment/Sauce</a></li>

						<li><a href="/recipes/41/category">Drink</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/recipes/50/category">Main</a></li>

						<li><a href="/recipes/84/category">Pasta/Noodles</a></li>

						<li><a href="/recipes/55/category">Project</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/recipes/51/category">Side Dish</a></li>

						<li><a href="/recipes/52/category">Snack</a></li>

						<li><a href="/recipes/49/category">Soup/Salad/Sandwich</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/recipes/53/category">Starter</a></li>

						<li><a href="/recipes/54/category">Sweet/Dessert</a></li>
					</ul>

					<div class="subnav_menu_button">
						<p class="heading">New!</p>

						<ul>
							<li style="height: 1%;"><a href="/recipes/new"><img alt="add new recipe" src="/images/nav_publish_recipe_up.jpg" /></a></li>

							<li><a href="http://www.chowhound.com/recipes/types/user">Member Recipes &amp; Hacks</a></li>
						</ul>
					</div>

					<div class="clear"></div>
				</div>

				<div id="menu_places" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_places" onclick="MainNav.toggle('places').onclick(); return false;" name="close_places"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<p class="heading">Browse by region</p>

					<ul class="fl">
						<li><a href="/places/regions/18">Manhattan</a></li>

						<li><a href="/places/regions/19">Outer Boroughs</a></li>

						<li><a href="/places/regions/12">Boston Area</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/places/regions/14">Washington DC &amp; Baltimore Area</a></li>

						<li><a href="/places/regions/7">Chicago Area</a></li>

						<li><a href="/places/regions/23">Ontario (including Toronto)</a></li>
					</ul>

					<ul class="fl">
						<li><a href="/places/regions/1">San Francisco Bay Area</a></li>

						<li><a href="/places/regions/2">Los Angeles Area</a></li>
					</ul>

					<div class="subnav_menu_button">
						<ul>
							<li><a href="/places/new"><img alt="Add a Place" src="/images/btn_addplace.gif" /></a></li>
						</ul>
					</div>

					<div class="clear"></div>
				</div>

				<div id="menu_profile" class="nav_tier2" style="display: none;">
					<a class="toggle_link" href="#" id="close_profile" onclick="MainNav.toggle('profile').onclick(); return false;" name="close_profile"><img alt="close" src="/images/button-close3-orange.gif" /></a>

					<ul class="inline">
						<% if @user %>
						<li><%= link_to h(@user.real_name), user_path(@user) %></li>
						<li id="profile_nav_favorites" style="display: inline;">
							<%= link_to "Favorites", user_path(1) %>

						<li id="profile_nav_settings" >
							<%= link_to h(@user.login), user_path(@user.login) %>
						</li>
<%# This feature to be added in the future.						<li id="profile_nav_newsletters"><a href="/newsletters">Newsletters</a></li>
 %>						<% else %>
						  
						<% end %>
						<li>now is the time</li>

					</ul>

					<div class="clear"></div>
				</div>
			</div>
