<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head profile="http://a9.com/-/spec/opensearch/1.1/">
	<meta name="generator" content="HTML Tidy for Mac OS X (vers 1st December 2004), see www.w3.org" />

	<title>Recipes - CHOW</title>
	<meta name="verify-v1" content="mvraDxxNdXUusnoBQ+q8Ty0e0c3cak3C7Pck1s+aQBI=" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta content="Recipes, cooking techniques, and news, updated daily. Devoted to the pleasure of food and drink." name="description" />
	<link rel="shortcut icon" href="http://www.chow.com/favicon.ico" type="image/x-icon" />
	<link href="/opensearch.xml" rel="search" title="CHOW Search" type="application/opensearchdescription+xml" />

	<%= javascript_include_tag :defaults %>

	<%= render :partial => '/shared/stylesheets' %>
	<%= render :partial => '/shared/ie_stylsheets' %>
	<%= render :partial => '/shared/rss_feeds' %>
</head>

<body class="hub_front_door hub_front_door hub">
	<%= render :partial => '/shared/mobile_message' %>

	<div id="custom-doc" class="yui-t6">
		<div id="hd">
			<%= render :partial => 'shared/hd_inner_html' %>
		</div>

		<div id="bd">
			<%= yield %>
		</div>

		<div id="ft">
			<%= render :partial => '/shared/ft_inner_html' %><!-- [[ Partial '/Users/carltanner/Sites/rails/palooza/app/views/shared/_ft_inner_html.html.erb' Begin ]] -->

		</div>
	</div><script type="text/javascript">
//<![CDATA[
	 user_id      = null
	 viewing_self = false
	 nav          = 'recipes'
	 action       = 'index'
	 MainNav.init()
	 // UserNav.init()
//]]>

	<div style="position: absolute; visibility: hidden;"><\/div>
<\/body>
<\/html>
</script>
</body>
</html>
